/* typography styling */
p, pre {
    color: #474d44;
    direction: ltr;
    opacity: 1;
    line-height: 25px;
    letter-spacing: 21px;
    word-spacing: 30px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic; /* <i> <em> */
    text-decoration: underline; /* <u> */
    text-transform: lowercase;
    text-shadow: 5px 7px 6px gray;
    text-indent: 50px;
    text-align: left;
}

span {
    color: red;
}

div {
    color: blueviolet;
    font-size: xx-large;
    font-family: Georgia;
    font-weight: bolder;
    font-style: italic;
}
