#first-nav {
    text-align: center;    
}
#first-nav li {
    width: 200px;
}
#first-nav #ad {
    border-left: 1px solid rgba(0, 0, 0, 0.151);
}
#first-nav #calendar {
    width: 20px;
    height: 20px;
}
#first-nav #clock {
    width: 20px;
    height: 20px;
}
#second-nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.733);
}
#second-nav li {
    width: 65px;
    display: inline-block;
}